@tailwind base;
@tailwind components;
@tailwind utilities;

/*CAROUSEL*/
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.animate-slide-in {
    animation: slide-in 0.7s forwards;
}

.animate-slide-out {
    animation: slide-out 0.7s forwards;
}

button {
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e2e2e2;
}
