@tailwind base;
@tailwind components;
@tailwind utilities;

/*CAROUSEL*/
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.animate-slide-in {
    animation: slide-in 0.7s forwards;
}

.animate-slide-out {
    animation: slide-out 0.7s forwards;
}

