@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    background-color: #f5f8ee    ;
}
@media (max-width: 1200px) {
    html {
        font-size: 14.4px; 
    }
  }
  
  @media (max-width: 900px) {
    html {
        font-size: 12.8px; 
    }
  }
  
  @media (max-width: 600px) {
    html {
        font-size: 11.2px; 
    }
}
/*CAROUSEL*/
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.animate-slide-in {
    animation: slide-in 0.7s forwards;
}

.animate-slide-out {
    animation: slide-out 0.7s forwards;
}

